.pa-container
    .form-group(ng-class="\
        {\
            'has-success': model !== undefined && !model.$empty,\
            'has-feedback': model !== undefined && !model.$empty\
        }"
    )
        .input-group
            input.form-control(
                ng-class='{"pa-query-field__suggestions": objects.length > 0}',
                ng-model='query',
                ng-readonly="readonly",
                ng-disabled="readonly",
                placeholder='{{ "Start typing program " + ( programsOnly ? "" : "or playlist " ) + "name..." }}'
            )
            span.input-group-btn
                button.btn.btn-info(ng-click="clear()")
                    | Clear
        span.content-autocomplete-feedback.glyphicon.glyphicon-ok.form-control-feedback(ng-hide="model === undefined")
    .pa-suggestions
        .pa-suggestion(ng-class='{"pa-suggestion__last": $last, "pa-suggestion__first": $first}', ng-click='select(o)', ng-repeat='o in objects track by o.id')
            {{ o.object.name  }} 
            i ({{o.type}})
