.container.secret-container
    .logo-container
        img.logo-text(src=require('../../../assets/images/logo-text.png'))
        img.logo(src=require('../../../assets/images/logo.png'))
    .client-name
        {{ client.name }}
    .player-info
        .now-playing__track
            | {{ lastPlayerInfo.last_artist_played || '-' }}
            | -
            | {{ lastPlayerInfo.last_song_played || '-' }}
        .now-playing_playlist
            | {{ lastPlayerInfo.last_playlist_played || '-' }}
            br
            | {{ lastPlayerInfo.last_action == 'paused' ? 'paused' : 'playing' }}

    .volume-controls(ng-if="client.remote_volume_control_enabled")
        span.volume-label
            | Volume
        .btn-group
            button.btn.btn-danger(ng-click="changePendingVolume(-5)")
                | -5
            button.btn.btn-default.disabled
                | {{ pendingVolume }}
            button.btn.btn-success(ng-click="changePendingVolume(5)")
                | +5

    form.form(autocomplete="off")
        button.btn__content.btn.btn-info(
            ng-click="activate(client.basic_content)",
            ng-class="{'btn__flashing': client.basic_content.$flashing, 'btn__active': client.basic_content.$active}"
        )
            | Daily Program - {{ client.basic_content.object.name }}

        span(ng-repeat="content in client.contents")
            button.btn__content.btn.btn-info(
                ng-click="activate(content)",
                ng-class="{'btn__flashing': content.$flashing, 'btn__active': content.$active}"
            )
                | {{ content.value.name }}