div
    h4 
        span(ng-show='isNew')
            | New event for client 
            em {{ client.name }}
        span(ng-hide='isNew')
            | Editing selected event

form.form(autocomplete="off")
    div
        .form-group(ng-hide='isNew')
            label
                | Auto ID
            input.form-control(ng-model="event.id", readonly)

    div
        .form-group
            label
                | Name
            input.form-control(ng-model="event.name", placeholder="Event name")

    div
        .form-group
            label
                | Content
            content-autocomplete(model="event.content", programs-only, limit="100")

    div
        .form-group
            label
                | Start
            .dropdown
                a#start-dropdown.dropdown-toggle(role='button', data-toggle='dropdown')
                    .input-group
                        input.form-control(type='text', ng-model='event.start')
                        span.input-group-addon
                            i.glyphicon.glyphicon-calendar
                ul.dropdown-menu(role='menu')
                    datetimepicker(
                        ng-model='event.start',
                        data-datetimepicker-config="{ dropdownSelector: '#start-dropdown', renderOn: 'end-date:change' }",
                        on-set-time='startDateOnSetTime()',
                        before-render='startDateBeforeRender($dates)'
                    )
    
    div
        .form-group
            label
                | End
            .dropdown
                a#end-dropdown.dropdown-toggle(role='button', data-toggle='dropdown')
                    .input-group
                        input.form-control(type='text', ng-model='event.end')
                        span.input-group-addon
                            i.glyphicon.glyphicon-calendar
                ul.dropdown-menu(role='menu')
                    datetimepicker(
                        ng-model='event.end',
                        data-datetimepicker-config="{ dropdownSelector: '#end-dropdown', renderOn: 'start-date:change' }",
                        on-set-time='endDateOnSetTime()',
                        before-render='endDateBeforeRender($view, $dates)'
                    )

    div
        .form-group
            label
                | Repeating
            select.form-control(ng-options="option.key as option.value for option in repeatingOptions", ng-model="event.repeating", placeholder="Event name")

    div(ng-show="event.repeating == 'WEEK'")
        .form-group
            label
                | Repeat every N weeks
            input.form-control(type="number", min="1", max="999", ng-model="event.repeat_every_n")

    div(ng-show="event.repeating != 'NO'")
        .form-group
            label
                | Repeating end
            .dropdown
                a#rend-dropdown.dropdown-toggle(role='button', data-toggle='dropdown')
                    .input-group
                        input.form-control(type='text', ng-model='event.repeating_end')
                        span.input-group-addon
                            i.glyphicon.glyphicon-calendar
                ul.dropdown-menu(role='menu')
                    datetimepicker(
                        ng-model='event.repeating_end',
                        data-datetimepicker-config="{ dropdownSelector: '#rend-dropdown', renderOn: 'start-date:change' }",
                        on-set-time='rendDateOnSetTime()',
                        before-render='rendDateBeforeRender($view, $dates)'
                    )

    div
        .form-group
            .checkbox
                label
                    input(type="checkbox", ng-model="event.high_priority")
                    | High priority event

    div
        .btn-toolbar
            button.btn.btn-success(ng-click='save()')
                span(ng-show="isNew")
                    | Add new event
                span(ng-hide="isNew")
                    | Save changes
            button.btn.btn-danger(ng-hide="isNew", ng-click='reset()')
                | Discard changes
            button.btn.btn-danger(ng-hide="isNew", ng-click='delete()')
                | Delete the event 
                i.glyphicon.glyphicon-minus