.row
    h4 
        span(ng-show='isNew')
            | New content pool
        span(ng-hide='isNew')
            | Edit content pool

form.form(autocomplete="off")
    .row(ng-hide='isNew')
        h5
            b Dependents
        | Client basic content: {{ dependents.client_basic_content_count }}
        br
        | Client content: {{ dependents.client_basic_content_count }}
        br
        | Events: {{ dependents.events_count }}
        br
        | Programs with this content pool: 
        span(ng-if="dependents.programs_with_playlist.count > 0")
            span.ttip(ng-click="alert(clientsToList(dependents.programs_with_playlist.programs))") {{ dependents.programs_with_playlist.count }}
                span.ttiptext {{ clientsToList(dependents.programs_with_playlist.programs) }}
        span(ng-if="dependents.programs_with_playlist.count == 0")
            | {{ dependents.programs_with_playlist.count }}
    .row(style="margin: 10px 0;")
        .col-xs-12
            .btn-toolbar
                button.btn.btn-success(ng-click='save()')
                    span(ng-show="isNew")
                        | Save this playlist
                    span(ng-hide="isNew")
                        | Save changes
                button.btn.btn-danger(ng-hide="isNew", ng-click='reset()')
                    | Discard changes
    .row
        .col-xs-2(ng-hide='isNew')
            .form-group
                label
                    | Auto ID
                input.form-control(ng-model="playlist.id", readonly, placeholder="1")

        .col-xs-3
            .form-group
                label
                    | Name
                input.form-control(ng-model="playlist.name", placeholder="Playlist name")

        .col-xs-2
            .form-group
                label
                    | Color
                ngjs-color-picker(selected-color="playlist.color", options="{columns: 4, roundCorners: true}")

        .col-xs-2
            .form-group
                label
                    | Cover
                div(ng-if="playlist.cover")
                    img(style="width: 100%;", src="{{playlist.cover}}")
                s3-uploader(
                    model="playlist.cover",
                    pattern=".jpg,.jpeg,.png,.gif"
                )

        .col-xs-3
            .form-group
                label
                    | Parent
                select.form-control(ng-model="playlist.parent", ng-options="p.id as p.name for p in parents")
    .row
        .col-xs-12
            .form-group
                label
                    | Content mode
                select.form-control(ng-readonly="!isNew", ng-disabled="!isNew", ng-model="playlist.content_mode", ng-options="option.value as option.label for option in contentModeOptions")
    div(ng-show="playlist.content_mode == 0")
        .row
            .col-xs-12
                .form-group
                    label
                        | Filters
                    filters-editor(model="playlist.filters")
        .row
            .col-xs-12
                .form-group
                    label
                        | Own tags
                    br
                    label
                        | Include tags
                    .tall-tags-input-container
                        tags-input(
                            style="height: 34px;",
                            ng-model="playlist.include_tags",
                            key-property="id",
                            min-length="1",
                            display-property="name",
                            add-from-autocomplete-only="true",
                            tag-class="'tag__included'"
                        )
                            auto-complete(
                                source="loadTags($query)",
                                min-length="0",
                                max-results-to-show="999",
                                load-on-focus="true",
                                load-on-empty="true"
                            )
                    label
                        | Exclude tags
                    .tall-tags-input-container
                        tags-input(
                            style="height: 34px;",
                            ng-model="playlist.exclude_tags",
                            key-property="id",
                            min-length="1",
                            display-property="name",
                            add-from-autocomplete-only="true",
                            tag-class="'tag__excluded'"
                        )
                            auto-complete(
                                source="loadTags($query)",
                                min-length="0",
                                max-results-to-show="999",
                                load-on-focus="true",
                                load-on-empty="true"
                            )
        .row
            .col-xs-12
                .form-group
                    label
                        | Genres
                    genre-selector(model="playlist.genres")

    div(ng-show="playlist.content_mode == 1")
        song-autocomplete(model="newSong", on-select="onSongSelect($song)")
        .col-xs-9
            div.simpleDemo
                b Song list
                br
                span(ng-show="playlist.songs.length > 0")
                    i Drag and drop songs to reorder
                ul(dnd-list="playlist.songs")
                    li(
                        ng-repeat="song in playlist.songs",
                        dnd-draggable="song",
                        dnd-moved="playlist.songs.splice($index, 1)",
                        dnd-effect-allowed="move"
                    )
                        {{ $index + 1 }}. {{ song.title }} - {{ song.artist }}
        .col-xs-3
            b Trashcan
            br
            i  Drag songs here to remove them from the playlist
            ul.trashcan(dnd-list="[]")
                li
                    img(src=require('../../assets/images/trashcan.png'))

    .row
        .col-xs-12
            .form-group
                label
                    | Notes
                textarea.form-control(ng-model="playlist.notes")

    div(ng-show="playlist.content_mode != 1")
        .row
            .col-xs-12
                .form-group
                    label Content pool preview
        .row
            .col-xs-12
                .form-group
                    .btn-toolbar
                        button.btn.btn-info(ng-hide='playlist.content_mode == 1', ng-click='fetchPreview()')
                            | Load content pool preview
                    br
                    div(ng-show="showPreview")
                        songs-preview(total-songs="songsCount", songs="preview", show-loading="previewLoading", params-change="previewChange(params)", params="previewParams")
        hr
